In [73]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.utils import shuffle
from sklearn.preprocessing import LabelEncoder

In [74]:
import pandas as pd
from sklearn.utils import shuffle

#  WineEnthusiast의 와인 블라인드 테이스팅 데이터

# points: WineEnthusiast가 와인을 1-100의 척도로 평가한 점수

# 데이터셋 파일 경로
data_file = "winemag-data-130k-v2.csv"

# 원본 데이터셋 로드
original_data = pd.read_csv(data_file)

# 데이터셋을 무작위로 샘플링하여 새로운 데이터셋 생성
sample_size = 20000 
# 샘플링할 데이터의 크기
reviews = original_data.sample(n=sample_size, random_state=42)

# 샘플링된 데이터셋 출력
print(reviews.head())

       Unnamed: 0    country  \
77718       77718  Australia
67681       67681     France
69877       69877      Spain
46544       46544         US
186           186         US

                                             description  \
77718  Possibly a little sweet, this is a soft, easyg...
67681  A soft, almost off dry wine that is full in th...
69877  Generic white-fruit aromas of peach and apple ...
46544  This is the winery's best Nebula in years. Whi...
186    This is a very rich Pinot whose primary virtue...

                  designation  points  price         province  \
77718                     NaN      83    5.0  Australia Other
67681                 Réserve      85   12.0     Rhône Valley
69877  Estate Grown & Bottled      86    9.0   Northern Spain
46544                  Nebula      87   29.0       California
186            Wiley Vineyard      88   40.0       California

                      region_1       region_2        taster_name  \
77718  South Eastern Australia            NaN     Joe Czerwinski
67681           Côtes du Rhône            NaN         Roger Voss
69877                    Rueda            NaN  Michael Schachner
46544              Paso Robles  Central Coast                NaN
186            Anderson Valley            NaN                NaN

      taster_twitter_handle  \
77718                @JoeCz
67681            @vossroger
69877           @wineschach
46544                   NaN
186                     NaN

                                                   title             variety  \
77718  Banrock Station 2006 Chardonnay (South Eastern...          Chardonnay
67681  Cellier des Dauphins 2015 Réserve Rosé (Côtes ...                Rosé
69877  Esperanza 2013 Estate Grown & Bottled Verdejo-...       Verdejo-Viura
46544  Midnight 2010 Nebula Cabernet Sauvignon (Paso ...  Cabernet Sauvignon
186    Harrington 2006 Wiley Vineyard Pinot Noir (And...          Pinot Noir

                     winery
77718       Banrock Station
67681  Cellier des Dauphins
69877             Esperanza
46544              Midnight
186              Harrington

In [76]:
print(reviews.shape)
reviews.head()

#'country': 와인이 생산된 국가
#'description': 와인에 대한 텍스트 설명
#'designation': 와인의 이름 또는 부가 정보
#'points': 와인의 평가 점수
#'price': 와인의 가격
#'province': 와인이 생산된 지방 또는 주
#'region_1': 와인의 지역 1
#'region_2': 와인의 지역 2
#'taster_name': 와인을 평가한 심사자 이름
#'taster_twitter_handle': 와인을 평가한 심사자의 Twitter 핸들
#'title': 와인의 제목
#'variety': 와인의 품종
#'winery': 와인을 생산한 와이너리

(20000, 14)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
77718,77718,Australia,"Possibly a little sweet, this is a soft, easyg...",NaN,83,5.0,Australia Other,South Eastern Australia,NaN,Joe Czerwinski,@JoeCz,Banrock Station 2006 Chardonnay (South Eastern...,Chardonnay,Banrock Station
67681,67681,France,"A soft, almost off dry wine that is full in th...",Réserve,85,12.0,Rhône Valley,Côtes du Rhône,NaN,Roger Voss,@vossroger,Cellier des Dauphins 2015 Réserve Rosé (Côtes ...,Rosé,Cellier des Dauphins
69877,69877,Spain,Generic white-fruit aromas of peach and apple ...,Estate Grown & Bottled,86,9.0,Northern Spain,Rueda,NaN,Michael Schachner,@wineschach,Esperanza 2013 Estate Grown & Bottled Verdejo-...,Verdejo-Viura,Esperanza
46544,46544,US,This is the winery's best Nebula in years. Whi...,Nebula,87,29.0,California,Paso Robles,Central Coast,NaN,NaN,Midnight 2010 Nebula Cabernet Sauvignon (Paso ...,Cabernet Sauvignon,Midnight
186,186,US,This is a very rich Pinot whose primary virtue...,Wiley Vineyard,88,40.0,California,Anderson Valley,NaN,NaN,NaN,Harrington 2006 Wiley Vineyard Pinot Noir (And...,Pinot Noir,Harrington

In [77]:
reviews.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'taster_name',
       'taster_twitter_handle', 'title', 'variety', 'winery'],
      dtype='object')

In [78]:
reviews.describe()

          Unnamed: 0        points         price
count   20000.000000  20000.000000  18604.000000
mean    64650.461450     88.449300     35.422221
std     37418.357113      3.066464     41.903403
min         0.000000     80.000000      4.000000
25%     32533.000000     86.000000     17.000000
50%     64378.000000     88.000000     25.000000
75%     96924.500000     91.000000     42.000000
max    129966.000000    100.000000   2013.000000

In [79]:
# 특성 선택
selected_features = ['country', 'province', 'variety', 'price']
target = 'points'

In [80]:
# 데이터 전처리

# 필요한 특성과 타겟 변수만 추출
data = reviews[selected_features + [target]].dropna()

In [81]:
# 범주형 변수를 더미 변수로 변환
data = pd.get_dummies(data)

In [82]:
# 학습 데이터와 테스트 데이터 분할
X = data.drop(target, axis=1)
y = data[target]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [83]:
# 모델 학습
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [84]:
# 모델 예측
y_pred = model.predict(X_test)

In [85]:
# 모델 평가
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy:', accuracy)
# 데이터셋에 대해 모델의 예측 정확도가 낮다.

Accuracy: 0.16182795698924732

In [86]:
#기존 분석 결과 어떻게 연관지어야할지 모르겠음.....
# (와인 title, points 데이터)

지역별 와인 품질의 영향력을 평가하기 위해 Feature Importance와 회귀 분석을 활용
#'province': 와인이 생산된 지방 또는 주
#'region_1': 와인의 지역 1
#'region_2': 와인의 지역 2

In [91]:
# 데이터를 불러온다
data_file = pd.read_csv("winemag-data-130k-v2.csv", index_col=0)

# 필요한 열만 선택한다
selected_columns = ['province', 'region_1', 'region_2', 'points']
data = data_file[selected_columns].copy()

# 결측치를 제거한다
data.dropna(inplace=True)

In [92]:
# LabelEncoder를 사용하여 범주형 변수를 숫자로 변환한다
le = LabelEncoder()
data['province_encoded'] = le.fit_transform(data['province'])
data['region_encoded'] = data['region_2'].fillna(data['region_1'])  
# region_2가 결측치인 경우 region_1로 대체
data['region_encoded'] = le.fit_transform(data['region_encoded'])

In [93]:
X = data[['province_encoded', 'region_encoded']]
y = data['points']

# 랜덤 포레스트 회귀 모델을 만든다
rf = RandomForestRegressor(random_state=42)
rf.fit(X, y)

# Feature Importance를 추출한다
importance = rf.feature_importances_
feature_names = ['province', 'region']
feature_importance = dict(zip(feature_names, importance))

# Feature Importance를 출력한다
for feature, importance in feature_importance.items():
    print(f"{feature}: {importance}")

province: 0.048534548597034634
region: 0.9514654514029655