In [1]:
import numpy as np
import pandas as pd

wine = pd.read_csv('Data/winemag-data-130k-v2.csv', sep=',')
# white = pd.read_csv('Data/winequality-white.csv', sep=';')

In [2]:
wine.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [3]:
wine.country.unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

In [4]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             129971 non-null  int64
 1   country                129908 non-null  object
 2   description            129971 non-null  object
 3   designation            92506 non-null   object
 4   points                 129971 non-null  int64
 5   price                  120975 non-null  float64
 6   province               129908 non-null  object
 7   region_1               108724 non-null  object
 8   region_2               50511 non-null   object
 9   taster_name            103727 non-null  object
 10  taster_twitter_handle  98758 non-null   object
 11  title                  129971 non-null  object
 12  variety                129970 non-null  object
 13  winery                 129971 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 13.9+ MB

In [5]:
wine2 = wine.drop(['region_1','region_2', 'designation',
                   'taster_name','taster_twitter_handle'], axis=1)

In [6]:
wine2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   129971 non-null  int64
 1   country      129908 non-null  object
 2   description  129971 non-null  object
 3   points       129971 non-null  int64
 4   price        120975 non-null  float64
 5   province     129908 non-null  object
 6   title        129971 non-null  object
 7   variety      129970 non-null  object
 8   winery       129971 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 8.9+ MB

In [7]:
wine2.dropna(inplace=True)

In [8]:
wine2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120915 entries, 1 to 129970
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   120915 non-null  int64
 1   country      120915 non-null  object
 2   description  120915 non-null  object
 3   points       120915 non-null  int64
 4   price        120915 non-null  float64
 5   province     120915 non-null  object
 6   title        120915 non-null  object
 7   variety      120915 non-null  object
 8   winery       120915 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 9.2+ MB

In [9]:
wine2.head()

,Unnamed: 0,country,description,points,price,province,title,variety,winery
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",87,15.0,Douro,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",87,14.0,Oregon,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",87,13.0,Michigan,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",87,65.0,Oregon,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
5,5,Spain,Blackberry and raspberry aromas show a typical...,87,15.0,Northern Spain,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem

---

In [ ]:
wine2.country.value_counts()

In [ ]:
wine2.winery.value_counts()

from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse=False)
country_ohe = ohe.fit_transform(wine2[['country']])
print (country_ohe)

In [ ]:
import pandas as pd
import math
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
result = le.fit_transform(wine2['country'])
print (result)
print (le.classes_)

In [ ]:
wine2['country2'] = result

In [ ]:
wine2.head()

In [ ]:
le = LabelEncoder()
result = le.fit_transform(wine2['winery'])
print (result)
print (le.classes_)

In [ ]:
wine2['winery2'] = result

In [ ]:
wine2.head()

In [ ]:
from sklearn.model_selection import train_test_split
Y= wine2['points']
X= wine2[['country2','winery2','price']]
print (X)

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y,
                                                    test_size=0.3, random_state=123)

In [ ]:
from sklearn.metrics import *
from sklearn.linear_model import *

lr = LinearRegression()
lo = LogisticRegression()

In [ ]:
lr.fit(X_train, Y_train)

In [ ]:
Y_predict = lr.predict(X_test)

In [ ]:
print('Y 절편 값: ', lr.intercept_)
print('회귀계수: ', lr.coef_)

In [ ]:
coef = pd.Series(lr.coef_, index=X.columns)
coef

In [ ]:
from sklearn.metrics import mean_squared_error
import torch

mse = mean_squared_error(Y_test, Y_predict, squared=True)
rmse = mean_squared_error(Y_test, Y_predict, squared=False)

print(f"MSE: {mse}  RMSE: {rmse}")

In [ ]:
lo.fit(X_train, Y_train)

In [ ]:
Y_predict = lr.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error
import torch

mse = mean_squared_error(Y_test, Y_predict, squared=True)
rmse = mean_squared_error(Y_test, Y_predict, squared=False)

print(f"MSE: {mse}  RMSE: {rmse}")

---

In [10]:
import pandas as pd
import math
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import *
from sklearn.linear_model import *
from sklearn.metrics import mean_squared_error

In [16]:
wine2.head()

,Unnamed: 0,country,description,points,price,province,title,variety,winery
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",87,15.0,Douro,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",87,14.0,Oregon,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",87,13.0,Michigan,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",87,65.0,Oregon,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
5,5,Spain,Blackberry and raspberry aromas show a typical...,87,15.0,Northern Spain,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem

In [17]:
wine3 = wine2[['country','price','province','variety','winery', 'points']]

In [18]:
wine4 = wine3.sample(n=20000, random_state=42)

In [19]:
wine4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 119291 to 20903
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   country   20000 non-null  object
 1   price     20000 non-null  float64
 2   province  20000 non-null  object
 3   variety   20000 non-null  object
 4   winery    20000 non-null  object
 5   points    20000 non-null  int64
dtypes: float64(1), int64(1), object(4)
memory usage: 1.1+ MB

In [20]:
wine4 = pd.get_dummies(wine4)

In [23]:
wine4

,price,points,country_Argentina,country_Australia,country_Austria,country_Brazil,country_Bulgaria,country_Canada,country_Chile,country_Croatia,...,winery_next:,winery_noblet,winery_oops,winery_un4seen,winery_Ànima Negra,winery_Ébano,winery_Écluse,winery_Éric & Jöel Durand,winery_Öko,winery_àMaurice
119291,15.0,87,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30959,23.0,87,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96773,48.0,89,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
102381,25.0,87,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
129915,40.0,91,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24162,54.0,87,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7267,29.0,89,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28719,30.0,86,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3040,17.0,88,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20903,28.0,87,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
Y= wine4['points']
X = wine4.drop(['points'], axis=1)

In [28]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y,
                                                    test_size=0.3, random_state=123)

In [32]:
lr = LinearRegression(n_jobs=5000)
lo = LogisticRegression()

In [33]:
lr.fit(X_train, Y_train)
lo.fit(X_train, Y_train)

C:\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [36]:
lr_Y_predict = lr.predict(X_test)
lo_Y_predict = lr.predict(X_test)

In [37]:
lr_mse = mean_squared_error(Y_test, lr_Y_predict, squared=True)
lr_rmse = mean_squared_error(Y_test, lr_Y_predict, squared=False)

lo_mse = mean_squared_error(Y_test, lo_Y_predict, squared=True)
lo_rmse = mean_squared_error(Y_test, lo_Y_predict, squared=False)

print(f"Linear Regression   MSE: {lr_mse}  RMSE: {lr_rmse}\nLogistic Regression   MSE: {lo_mse}  RMSE: {lo_rmse}")

Linear Regression   MSE: 8.041916682719461e+16  RMSE: 283582733.6549153
Logistic Regression   MSE: 8.041916682719461e+16  RMSE: 283582733.6549153