In [1]:
import numpy as np
import pandas as pd

### white wine 전처리

In [10]:
white = pd.read_csv('Data/winequality-white.csv', sep=';')

In [11]:
white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [12]:
# 띄어쓰기를 _로 바꾸기

white.columns = [label.replace(' ','_') for label in white.columns]

In [13]:
white.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [14]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
white_scaled = scaler.fit_transform(white)

In [17]:
white_scaled = pd.DataFrame(white_scaled, columns=white.columns)

In [23]:
white_scaled['type'] = 0

In [24]:
white_scaled.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,type
0,0.172097,-0.081770,0.213280,2.821349,-0.035355,0.569932,0.744565,2.331512,-1.246921,-0.349184,-1.393152,0.13787,0
1,-0.657501,0.215896,0.048001,-0.944765,0.147747,-1.253019,-0.149685,-0.009154,0.740029,0.001342,-0.824276,0.13787,0
2,1.475751,0.017452,0.543838,0.100282,0.193523,-0.312141,-0.973336,0.358665,0.475102,-0.436816,-0.336667,0.13787,0
3,0.409125,-0.478657,-0.117278,0.415768,0.559727,0.687541,1.121091,0.525855,0.011480,-0.787342,-0.499203,0.13787,0
4,0.409125,-0.478657,-0.117278,0.415768,0.559727,0.687541,1.121091,0.525855,0.011480,-0.787342,-0.499203,0.13787,0

In [25]:
white_scaled.to_csv('white_scaled2.csv', index=False)

---

### red, white는 quality도 정규화됨

In [26]:
red_sclaed = pd.read_csv('Data/red_scaled.csv', sep=',')

In [27]:
wine = pd.concat([red_sclaed, white_scaled])

In [28]:
wine

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,type
0,-0.528360,0.961877,-1.391472,-0.453218,-0.243707,-0.466193,-0.379133,0.558274,1.288643,-0.579207,-0.960246,-0.787823,1
1,-0.298547,1.967442,-1.391472,0.043416,0.223875,0.872638,0.624363,0.028261,-0.719933,0.128950,-0.584777,-0.787823,1
2,-0.298547,1.297065,-1.186070,-0.169427,0.096353,-0.083669,0.229047,0.134264,-0.331177,-0.048089,-0.584777,-0.787823,1
3,1.654856,-1.384443,1.484154,-0.453218,-0.264960,0.107592,0.411500,0.664277,-0.979104,-0.461180,-0.584777,0.450848,1
4,-0.528360,0.961877,-1.391472,-0.453218,-0.243707,-0.466193,-0.379133,0.558274,1.288643,-0.579207,-0.960246,-0.787823,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4893,-0.776015,-0.677101,-0.365197,-0.944765,-0.310008,-0.664970,-1.091000,-0.965483,0.541334,0.088973,0.557282,0.137870,0
4894,-0.301959,0.414339,0.213280,0.317179,0.056196,1.275590,0.697499,0.291789,-0.253446,-0.261553,-0.743008,-0.991374,0
4895,-0.420473,-0.379435,-1.191592,-1.023637,-0.218457,-0.312141,-0.643875,-0.497350,-1.313153,-0.261553,-0.905544,0.137870,0
4896,-1.605613,0.116674,-0.282557,-1.043355,-1.088192,-0.900190,-0.667408,-1.784717,1.004955,-0.962605,1.857572,1.267114,0
4897,-1.013043,-0.677101,0.378559,-1.102508,-1.179743,-0.782580,-0.949803,-1.543962,0.475102,-1.488394,1.044891,0.137870,0

In [41]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [42]:
Y = wine['quality']
X = wine.drop(['quality'], axis=1, inplace=False)

In [45]:
print(X.shape, Y.shape)

(6497, 12) (6497,)

In [46]:
# 학습데이터와 검증 데이터로 나누기

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=123)

In [47]:
# 선형회귀 모델

lr = LinearRegression()

In [48]:
# 학습하기

lr.fit(X_train, Y_train)

LinearRegression()

In [55]:
# 모델에 검증 데이터 입력하고, 예측결과 저장

Y_predict = lr.predict(X_test)

In [52]:
print('Y 절편 값: ', lr.intercept_)
print('회귀계수: ', lr.coef_)

Y 절편 값:  0.0045048061910349674
회귀계수:  [-0.04831428 -0.22494683  0.00782708  0.09123404 -0.05109186  0.07446825
 -0.07211571  0.01035004 -0.01845023  0.0964022   0.45274413 -0.00167981]

In [51]:
# 특징별 회귀계수

coef = pd.Series(lr.coef_, index=X.columns)
coef

fixed_acidity          -0.048314
volatile_acidity       -0.224947
citric_acid             0.007827
residual_sugar          0.091234
chlorides              -0.051092
free_sulfur_dioxide     0.074468
total_sulfur_dioxide   -0.072116
density                 0.010350
pH                     -0.018450
sulphates               0.096402
alcohol                 0.452744
type                   -0.001680
dtype: float64

In [56]:
# MSE로 성능 확인 : 예측값과 정답을 비교

from sklearn.metrics import mean_squared_error

mse = mean_squared_error(Y_test, Y_predict)

print(f"MSE: {mse}")

MSE: 0.748137390990642

In [57]:
# 예측값과 정답의 상관계수

import scipy.stats as stats
print ( stats.pearsonr( Y_test, Y_predict))

PearsonRResult(statistic=0.5068829808762852, pvalue=8.595922785342158e-128)

In [65]:
# PCA 차원축소 시도

from sklearn import decomposition

pca = decomposition.PCA(n_components=5)
pca.fit(X)
X_pca = pca.transform(X)

In [66]:
Y = wine['quality']
X = X_pca

In [67]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=123)

In [68]:
lr_pca = LinearRegression()
lr_pca.fit(X_train, Y_train)
Y_predict = lr_pca.predict(X_test)

In [69]:
mse_pca = mean_squared_error(Y_test, Y_predict)

print(f"PCA하기 전 MSE: {mse}\nPCA한 후 MSE: {mse_pca}")

PCA하기 전 MSE: 0.748137390990642
PCA한 후 MSE: 0.8332017155665362

---

### 다른 모델 사용
- ridge regression은 계수의 영향력을 줄여서 적용하는 회귀

In [108]:
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

lr = LinearRegression()
lr_R = linear_model.Ridge(alpha=.5)

Y = wine['quality']
X = wine.drop(['quality'], axis=1, inplace=False)

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=123)

lr.fit(X_train, Y_train)
lr_R.fit(X_train, Y_train)

Y_predict = lr.predict(X_test)
mse = mean_squared_error(Y_test, Y_predict)

Y_predict_R = lr_R.predict(X_test)
mse_R = mean_squared_error(Y_test, Y_predict_R)

print(f"Linear Regression MSE: {mse}\nRidge Regression MSE: {mse_R}")

Linear Regression MSE: 0.5656595892457446
Ridge Regression MSE: 0.5656621142887952

In [109]:
for a in range(1, 11):
    lr_R = linear_model.Ridge(alpha=a/float(10))
    lr_R.fit(X_train, Y_train)
    Y_predict_R = lr_R.predict(X_test)
    mse_R = mean_squared_error(Y_test, Y_predict_R)
    print(f"alpha: {a/10}  MSE: {mse_R}")

alpha: 0.1  MSE: 0.5656600931577435
alpha: 0.2  MSE: 0.565660597618579
alpha: 0.3  MSE: 0.5656611026277196
alpha: 0.4  MSE: 0.565661608184635
alpha: 0.5  MSE: 0.5656621142887952
alpha: 0.6  MSE: 0.5656626209396715
alpha: 0.7  MSE: 0.5656631281367357
alpha: 0.8  MSE: 0.5656636358794602
alpha: 0.9  MSE: 0.5656641441673186
alpha: 1.0  MSE: 0.5656646529997852

---